# Compiled class file
*.class
build/

# Gradle
.gradle
version.properties

# Log file
*.log
.idea/
Ahrensburg.iml
out/
### Eclipse ###

### Eclipse Patch ###
# Eclipse Core		
.project

# JDT-specific (Eclipse Java Development Tools)		
.classpath
/classes/
/bin/
