# Compiled class file
*.class
build/
.gradle
# Log file
*.log

### Eclipse ###

### Eclipse Patch ###
# Eclipse Core		
.project

# JDT-specific (Eclipse Java Development Tools)		
.classpath
/classes/
/bin/
